*.a
*.egg-info/
*.err
*.lock
*.log
*.mo
*.o
*.orig
*.pid
*.pot
*.pyc
*.rej
*.sublime*
*.swo
*.swp
*.vi
.basebuilt
.built
.cache
.coverage
.dropbox
.DS_Store
.idea
.sass_cache/
.vagrant
_build/
ansible-config
ansible-playbooks
bin/
build/
coverage_report
dev/
dist/
Dockerfile.app
env/*
insecure_key
media/
node_modules
profile/
static/
syncano-ansible
Thumbs.db
